body {
    padding: 0px;
    margin: 0px;
    background-color:rgb(252, 244, 235);
}

.interestlist{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom:10px;
    background-color:#ffc7fe;
    margin-top:10px;
    border-radius:20px;
    margin-left:auto;
    margin-right:auto;
    width:max-content
}


h1{
    font-size: 3em;
    color: #331234;
    margin-bottom:10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
}

p{
    margin-top:10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:15px;
}

main{
    margin-left:auto;
    margin-right:auto;
    width:500px;
}

.moreinfo {
    font-weight:lighter;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:15px;
}

.basic {
    font-weight:bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:15px;
}

.backgroundheader {
    width:100%;
    height:50px;
    background-color:#ffc7fe;
    padding-top:5px;
    padding-bottom:20px;
}

h2 {
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #331234;
}

.puppy{
    width: 200px;
    float:right;
    margin-top:-200px;
}

.rightside{
    margin-top: 10px;
    width:200px;
    height:344px;
    padding-left:5px;
    padding-right:10px;
    padding-top:20px;
    padding-bottom:20px;
    background-color: rgb(202, 245, 245);
    border-radius:20px;
    float:left;
    margin-left:10px;
    margin-right:10px;

}

.ffam {
    margin-right:5px;
    margin-left: 5px;
    margin-top: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:15px;
}

h4 {
    margin-top:5px;
    margin-bottom:10px;
    margin-left:5px;
    font-size: 18px;
}

.bottom {
    margin-top:10px;
    text-align:center;
}

footer{
    margin-top: 20px;
    float:left;
    width:100%;
}

img{

    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
}

.gif {
    align-self: center;
}

.drs{
    margin-left:auto;
    margin-right:auto;
    width:max-content;
    padding-left:10px;
    padding-right:10px;
}

.jkpg {
    text-align:center;
    margin-top:150px;
}

.facts {  
    margin-top:5px;
    margin-bottom:10px;
    margin-left:5px;
    font-size: 18px;
}

a:hover {
    color:#f3a9f2;
    
}

a:link {
    text-align:center;
    text-decoration: none;
    color:#331234;
    font-size:20px;
    margin-top:75%;
    display:flex;
}

.leftside{
    margin-top: 10px;
    width:200px;
    height:344px;
    background-color: rgb(202, 245, 245);
    padding-left:5px;
    padding-right:10px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius:20px;
    float:left;
    margin-left:10px;
    margin-right:10px;
    text-align:center;
}